{% extends "aplicacion/index.html" %}


{% block titulo %}
<h1 class="mb-5 fw-bolder text-white">Órdenes</h1>
{% endblock titulo %}


{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Órdenes</h2></td>
        <td>
            <a
            href="{% url 'orden_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Agregar"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Orden Id</th>
            <th>Productos</th>
            <th>Valor Total</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for o in orden_list  %}
        <tr>
            <td>{{ o.orden_id }}</td>
            <td>{{ o.productos }}</td>
            <td>{{ o.valor_total }}</td>
            <td>{{ o.estado }}</td>
            <td>
                <a
                  href="{% url 'orden_update' o.orden_id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Editar"></i>
                </a>
                <a
                  href="{% url 'orden_delete' o.orden_id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Eliminar"></i>
                </a>                
            </td>  
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}